body{
  background: url(https://i.pinimg.com/736x/ac/86/6b/ac866b9bcd2618ecef6b4d2aa95a34a8.jpg);
  height: 100dvh;
  background-repeat: no-repeat;
  background-size: cover;
}
.borders{
  border: 1px solid red;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  gap: 20px;
}
.weather-box{
  background-color: #dfbacbb1;
  border: 1px solid rgba(255, 255, 255, 0.752);
  padding: min(5em,8%);
  width: 25em;
  border-radius: 24px;
}