body{
  background: url(https://i.pinimg.com/736x/ac/86/6b/ac866b9bcd2618ecef6b4d2aa95a34a8.jpg);
  height: 100dvh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.borders{
  border: 1px solid red;
}
/* app.jsx */
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  gap: 20px;
  position: relative;
}
.loading-area{
  display: flex;
  justify-content: center;
}
.logo-img-2{
  display: none;
}
.search-area{
  width: 400px;
  display: flex;
  position: relative;
  align-items: center;
}

.search-area>input{
  outline: none;
  padding: 10px 30px;
  width: 100%;
  background-color: white;
  color: white;
  border: 1px solid #c2afda;
  border-radius: 12px;
}
.search-area>input:focus{
  scale: 1.05;
  transition: 0.3s;
  border: 2px solid white;
  background-color: #c2afda;
}
.search-area>button{
  position: absolute;
  font-size: 20px;
  right: 10px;
  border: none;
  background-color: white;
  border-radius: 24px;
  outline: none;
}
.search-area>button:hover{
  scale: 1.1;
  border: 1px solid white;
  background-color: #dfbacb;
  transition: 0.3s;
}
/* weather box component */
.weather-box{
  background-color: #dfbacbb1;
  border: 1px solid rgba(255, 255, 255, 0.752);
  padding: min(2em,8%);
  width: 25em;
  border-radius: 24px;
  color: white;
}

.weather-box-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.location-name{
  font-size: 24px;
  font-weight: 200;
}
.weather-conditions{
  display: flex;
  align-items: center;
  position: relative;
}
.weather-conditions>img{
  position: absolute;
  width: 120px;
  right: -40px;
  top: -150px;
}
.hidden{
  visibility: hidden;
}

/* button component */
.button-area{
  display: flex;
  gap: 10px;
  width: 400px;
  overflow-x: auto;          /* 가로 스크롤 활성화 */
  -ms-overflow-style: none;  /* IE, Edge에서 스크롤바 숨기기 */
  scrollbar-width: none;     /* Firefox에서 스크롤바 숨기기 */
  padding-left: 5px;
  padding-right: 5px;
  border-right: 2px solid #b690ae ;
  border-left: 2px solid #b690ae ;
  justify-content: center;

}
.button-area::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera에서 스크롤바 숨기기 */
}
.arrow-follow {
  position: absolute;
  pointer-events: none;
  transition: left 0.1s, top 0.1s;
  /* 동적 값은 CSS 변수로 설정합니다. */
  left: var(--arrow-left, 0px);
  top: var(--arrow-top, 0px);
}
.button-area button:hover{
  background-color: #dfbacbb1;
  color: white;
  border: 1px solid white;
  transition: 0.3s;
}

.button-area button:focus{
  background-color: #dfbacbb1;
  color: white;
  border: 2px solid white;
  transition: 0.3s;
}
.scroll-label {
  display: block;  /* label 태그를 블록 요소로 변환 */
  font-size: 14px;
  color: white;
  text-align: center;
  margin-top: 8px;
}
/* loading component */
.loading-area{
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: white;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.display-none{
  display: none;
}

@media (max-width:428px) {
  .search-area{
    width: 350px;
  }
  .weather-box{
    width: 22em;
  }
  .button-area{
    width: 350px;
    padding: 0;
    justify-content: flex-start;
  }
  .logo-img-1{
    display: none;
  }
  .logo-img-2{
    display: block;
  }
}